<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
	<connectionStrings>
		<add name="BTL_QLNS.Properties.Settings.Quanlynhasu_3FConnectionString"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Quanlynhasu_3F;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
